<!-- <div class="header-container">
  <img
    width="80"
    style="vertical-align: middle;"
    alt="Angular Logo"
    src="assets/bio-image.jpeg"
  />

  <span class="header-title">Vishwanathph.in</span>
</div>

<div class="ui-grid">
  <div class="ui-grid-col-4">Col1</div>
  <div class="ui-grid-col-4">Col2</div>
  <div class="ui-grid-col-4">Col2</div>
</div> -->
<div class="p-grid p-align-center">
  <img class="p-col-1" alt="Angular Logo" src="assets/logo.jpeg" width="100%" />
  <img class="p-col-2" />

  <div class="p-col-6">
    <div>
      <span class="p-col-2 fa fa-whatsapp"> </span>
      1233456789 |

      <span class="p-col-2 fa fa-phone" aria-hidden="true"></span>
      123456789

      <i class="fa fa-envelope" aria-hidden="true"></i>
      abcdefghijklem@gmail.com
    </div>
  </div>
  <div class="p-col-3 communucations">
    <div>
      <span class="communications-title p-col-1">Social</span>
      <a
        href="https://www.facebook.com"
        class="fa fa-facebook p-col-1"
        target="_blank"
      ></a>
      <a href="#" class="fa fa-twitter p-col-1"></a>
    </div>
  </div>
</div>
